// Colors
:root {
  --color-bg: #e0e8ff;
  --color-font-main: #1f2e55;
  --color-font-secondary: #717fa6;
  --color-highlight: #382ae1;
  --color-card: #fff;
}

// Fonts
$font: "Red Hat Display", sans-serif;

// Breakpoints
$sm: 320px;
$md: 640px;
$md-lg: 960px;
$lg: 1024px;
$x-lg: 1440px;
