@use "./../01-abstracts/" as *;

html,
body {
  background-color: var(--color-bg);
  overflow-x: hidden;
}

button {
  cursor: pointer;
  transition: 0.2s ease;

  &:active {
    transform: scale(0.95);
  }
}
