@use "./../01-abstracts/" as *;

body {
  font-family: $font;
  font-weight: 500;
  color: var(--color-font-secondary);
}

h1 {
  font-weight: 900;
  font-size: rem(22px);
  line-height: 29px;
  color: var(--color-font-main);
}

h2 {
  font-weight: 900;
  font-size: rem(14px);
  line-height: 19px;
  color: var(--color-font-main);
}
